<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="app/css/main.css"/>
        <title>Social Times</title>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

                <a class="navbar-brand" href="#">Social Times</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#/dating" id="dating">Dating</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#/options" id="preferences">Options</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
            <div id="options"></div>
            <div id="content"></div>
        </div>

        <script type="text/template" id="main-template">
            <div class="row">
                <% let i = 0; %>
                <% _.each(results, function(json) {  %>
                    <div class="col-2"><img src="<%= json.picture.thumbnail %>"><div><%= i %>.<%= json.gender %></div><div><%= json.nat %>{<%= json.dob.age %>}</div></div>
                    <% i += 1; %>
                <% }); %>
            </div>
        </script>

        <script type="text/template" id="gender-template">
            <div class="row">
                <% let i = 0; %>
                <% _.each(this.model.attributes, function(json) {  %>
                    <div class="col-2"><img src="<%= json.picture.thumbnail %>"><div><%= i %>.<%= json.gender %></div><div><%= json.nat %><%= json.dob.age %></div></div>
                    <% i += 1; %>
                <% }); %>
            </div>
        </script>

        <script type="text/template" id="options-template">
            <form>
              <div class="form-group row">
                <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                  <input type="name" class="form-control" id="inputName" placeholder="Name">
                </div>
              </div>

              <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                  <div class="col-sm-10">

                  <div class="row">
                        <div class="col-2">
                            <div class="form-check disabled">
                              <input class="form-check-input" type="radio" name="gender" id="radio_both" value="both" checked>
                              <label class="form-check-label" for="radio_both">Both</label>
                            </div>
                        </div>

                      <div class="col-2">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gender" id="radio_male" value="male">
                          <label class="form-check-label" for="radio_male">Male</label>
                        </div>
                       </div>

                        <div class="col-2">
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="gender" id="radio_female" value="female">
                              <label class="form-check-label" for="radio_female">Female</label>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0">DOB</legend>
                  <div class="col-sm-10">

                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        <option selected>Year</option>
                        <option val
e="1">1950</option>
                        <option value="2">1951</option>
                        <option value="3">1952</option>
                        <option value="4">1953</option>
                        <option value="5">1954</option>
                        <option value="6">1955</option>
                        <option value="7">1956</option>
                        <option value="8">1957</option>
                        <option value="9">1958</option>
                        <option value="10">1959</option>
                        <option value="11">1960</option>
                        <option value="12">1961</option>
                        <option value="13">1962</option>
                        <option value="14">1963</option>
                        <option value="15">1964</option>
                        <option value="16">1965</option>
                        <option value="17">1966</option>
                        <option value="18">1967</option>
                        <option value="19">1968</option>
                        <option value="20">1969</option>
                        <option value="21">1970</option>
                        <option value="22">1971</option>
                        <option value="23">1972</option>
                        <option value="24">1973</option>
                        <option value="25">1974</option>
                        <option value="26">1975</option>
                        <option value="27">1976</option>
                        <option value="28">1977</option>
                        <option value="29">1978</option>
                        <option value="30">1979</option>
                        <option value="31">1980</option>
                        <option value="32">1981</option>
                        <option value="33">1982</option>
                        <option value="34">1983</option>
                        <option value="35">1984</option>
                      </select>
                    </div>

                  </div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0">Age</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="age" id="radio_age_0" value="any" checked>
                      <label class="form-check-label" for="radio_age_0">Any</label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="age" id="radio_age_1" value="twenties">
                      <label class="form-check-label" for="radio_age_1">18 - 29</label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="age" id="radio_age_2" value="thirties">
                      <label class="form-check-label" for="radio_age_2">30 - 39</label>
                    </div>

                    <div class="form-check disabled">
                      <input class="form-check-input" type="radio" name="age" id="radio_age_3" value="forties">
                      <label class="form-check-label" for="radio_age_3">40 - 49</label>
                    </div>

                    <div class="form-check disabled">
                      <input class="form-check-input" type="radio" name="age" id="radio_age_4" value="fifties">
                      <label class="form-check-label" for="radio_age_4">50 - 59</label>
                    </div>

                    <div class="form-check disabled">
                      <input class="form-check-input" type="radio" name="age" id="radio_age_5" value="sixties">
                      <label class="form-check-label" for="radio_age_5">60 and up</label>
                    </div>

                  </div>
                </div>
              </fieldset>

              <div class="form-group row">
                <div class="col-sm-2">Nationality</div>
                <div class="col-sm-10">
                  <div class="form-check">
                  <div class="row">
                  <!-- FIRST COLUMN -->
                  <div class="col-2">
                    <div>
                        <input class="form-check-input" type="checkbox" id="check_au">
                        <label class="form-check-label" for="check_au">AU</label>
                    </div>

                    <div>
                        <input class="form-check-input" type="checkbox" id="check_br">
                        <label class="form-check-label" for="check_br">BR</label>
                    </div>

                    <div>
                        <input class="form-check-input" type="checkbox" id="check_ca">
                        <label class="form-check-label" for="check_ch">CA</label>
                    </div>

                    <div>
                        <input class="form-check-input" type="checkbox" id="check_ch">
                        <label class="form-check-label" for="check_ch">CH</label>
                    </div>
                    <div>
                        <input class="form-check-input" type="checkbox" id="check_ch">
                        <label class="form-check-label" for="check_ch">DE</label>
                    </div>
                    <div>
                        <input class="form-check-input" type="checkbox" id="check_ch">
                        <label class="form-check-label" for="check_ch">DK</label>
                    </div>
                  </div>

                  <!-- SECOND COLUMN -->
                  <div class="col-2">
                    <div>
                        <input class="form-check-input" type="checkbox" id="check_ch">
                        <label class="form-check-label" for="check_ch">ES</label>
                    </div>

                    <div>
                        <input class="form-check-input" type="checkbox" id="check_ch">
                        <label class="form-check-label" for="check_ch">FI</label>
                    </div>

                    <div>
                        <input class="form-check-input" type="checkbox" id="check_ch">
                        <label class="form-check-label" for="check_ch">FR</label>
                    </div>

                    <div>
                        <input class="form-check-input" type="checkbox" id="check_ch">
                        <label class="form-check-label" for="check_ch">GB</label>
                    </div>

                    <div>
                        <input class="form-check-input" type="checkbox" id="check_ch">
                        <label class="form-check-label" for="check_ch">IE</label>
                    </div>

                    <div>
                        <input class="form-check-input" type="checkbox" id="check_ch">
                        <label class="form-check-label" for="check_ch">IR</label>
                    </div>
                  </div>

                  <!-- THIRD COLUMN -->
                  <div class="col-2">
                    <div>
                        <input class="form-check-input" type="checkbox" id="check_ch">
                        <label class="form-check-label" for="check_ch">NO</label>
                    </div>
                    <div>
                        <input class="form-check-input" type="checkbox" id="check_ch">
                        <label class="form-check-label" for="check_ch">NL</label>
                    </div>
                    <div>
                        <input class="form-check-input" type="checkbox" id="check_ch">
                        <label class="form-check-label" for="check_ch">NZ</label>
                    </div>
                    <div>
                        <input class="form-check-input" type="checkbox" id="check_ch">
                        <label class="form-check-label" for="check_ch">TR</label>
                    </div>
                    <div>
                        <input class="form-check-input" type="checkbox" id="check_ch">
                        <label class="form-check-label" for="check_ch">US</label>
                    </div>
                   </div>
                  </div>
                </div>
              </div>


              <div class="form-group row">
                <div class="col-sm-4">
                  <button type="submit" class="btn btn-primary">Filter</button>
                </div>
                <div class="col-sm-4">
                  <button type="submit" class="btn btn-warning">Reset</button>
                </div>
              </div>
            </form> 
        </script>

        <script type="text/template" id="about-template">

        </script>

        <script src="app/js/main.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script data-main="app/app" src="node_modules/requirejs/require.js"></script>
    </body>
</html>
